extends layout

block content
    main(role='main')
        .jumbotron
            .container
                h1.display-3   hotelSys
                p
                    | View and manage your upcoming Reservations!
                p
                    a.btn.btn-primary.btn-lg(href='/reservations/upcomingReservations', role='button') Upcoming Reservations »
        .container
            
